<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cronTask" class="net.lizhaoweb.datasource.mysql.etago.model.CronTask"/>
    <bean id="goods" class="net.lizhaoweb.datasource.mysql.etago.model.Goods"/>
    <bean id="goodsTags" class="net.lizhaoweb.datasource.mysql.etago.model.GoodsTags"/>
</beans>