<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeAliases>
        <typeAlias type="net.lizhaoweb.datasource.mysql.etago.model.CronTask" alias="cronTask"/>
        <typeAlias type="net.lizhaoweb.datasource.mysql.etago.model.Goods" alias="goods"/>
        <typeAlias type="net.lizhaoweb.datasource.mysql.etago.model.GoodsTags" alias="goodsTags"/>
        <typeAlias type="net.lizhaoweb.datasource.mysql.etago.model.Good4CloudSearch" alias="good4CloudSearch"/>
        <typeAlias type="net.lizhaoweb.datasource.mysql.etago.model.User" alias="user"/>
        <typeAlias type="net.lizhaoweb.datasource.mysql.etago.model.UserLoginLog" alias="userLoginLog"/>
        <typeAlias type="net.lizhaoweb.datasource.mysql.etago.model.User4CloudSearch" alias="user4CloudSearch"/>
    </typeAliases>

    <!--
    <plugins>
        <plugin interceptor="net.lizhaoweb.spring.plugin.mybatis.interceptor.PageInterceptor"/>
        <plugin interceptor="net.lizhaoweb.spring.plugin.mybatis.interceptor.MapObjectsInterceptor"/>
    </plugins>
    -->
</configuration>